@{
    ViewData["Title"] = "Schedule";
}
<h1>@ViewData["Title"]</h1>
<center>
    Schedule ko
    IT ELECTIVE Full Stacks
    <hr />
    ASYNCHRONOUS
    <hr />
    Every Thursday
    <hr />
    Face To Face
    <hr />
    Every Saturday
    <hr />

</center>

<center>
    <p>This Page Is For Subject/Schedule Only</p>

</center>
